@page
@model SampleApp.Pages.Shared.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="text-center">
    <h1 class="display-4">ДИЗАЙНЕД БАЙ АРКАДИЙ ЗАХАРЯН ИН МИХАЙЛОВСК</h1>
    <h2 class="display-4">ГРУППА ИП214</h2>
    
</div>